.navbar-container {
    margin: 5px;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: 4;
    padding: 0.5rem 0;
}

.nav-ul {
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

.nav-li {
    font-family: "Shlop";
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: xxx-large;
    font-weight: bold;
}

a.nav-link:hover {
    color: rgb(4, 236, 62);
}